<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#" lang="en">

<head>
	<!-- Peeking @ our code? It's all available at https://git.io/v5pJ8 --> 

	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;"/>	
	<!-- Facebook preview image -->
	<!-- <meta property="og:image" content=""/> -->

	<!-- icons for IE 9 and below -->
	<!--[if IE]><link rel="shortcut icon" href="/assets/images/favicon.ico"><![endif]-->

	<!-- icons for touch - iOS and Android 2.1+  --> 
	<link rel="apple-touch-icon" href="/assets/images/apple-touch-icon.png">

	<!-- icons for Firefox, Chrome, Safari, IE 11+ and Opera -->
	<link rel="icon" href="/assets/images/favicon.png">

	<title>{{ page.title }} - {{ site.title }}</title>
	<meta name="description" content="the Design Cooperative: fresh ideas, served daily.">

	<link rel="canonical" href="http://designcoop.co/">

	<link rel="stylesheet" href="/assets/main.scss.css">

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond|Libre+Franklin" rel="stylesheet">

	<!-- Global Site Tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-107024549-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments)};
		gtag('js', new Date());

		gtag('config', 'UA-107024549-1');
	</script>

</head>

<body>
<div id="wrapper">
<div id="content">
<header>
	<h1><a href="/">the Design Cooperative</a></h1>
</header>