---
---

/* CSS Document */

@charset "UTF-8";

/* layout */

* {
	margin: 0;
 	padding: 0;
 	border: none;
 	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
}

html {
	width: 100%;
 	height: 100%;
 	background-color: #EAEAEF;
}

body {
	height: 100%;
	font-size: 16px;
}

span { 
	display: inline-block;
}

.clear {
	clear: both;
}

input {
	border-radius: 4px;
	padding: 6px 8px;
	border: 1px solid #999;
}

input.field {
	width: 100%;
}

input.field:focus {
	box-shadow: 0 0 0 2px rgba(130, 190, 255, .75);
	outline: none;
}

input.button {
	margin-top: .5em;
	padding: .5em 2em;
	border: none;
	cursor: pointer; 
	font-size: 1.25em;
	color: #FFF;
	background-color: #FF007F;
	transition: background-color 0.2s ease-in-out 0s;
}

input.button:hover {
	background-color: #777;
}

.block-link {
	display: block;
}

#wrapper, footer {
	width: 40em;
	max-width: 90%;
	margin-right: auto;
	margin-left: auto;
}

#wrapper {
	min-height: 100%;
	margin-bottom: -4em;
}

#content {
	padding-top: 4em;
	padding-bottom: 2em;
}

#push, footer {
	height: 4em;
}

#manifesto {
	margin-bottom: 1em;
}

#subscribe {
	width: 30em;
	max-width: 100%;
	margin-top: 1em;
}

.divider {
	border-bottom: 6px double #FF007F;
}

.post-preview {
	border: 1px solid #FF007F;
	border-radius: 4px;
	padding: 1em;
}

.post-excerpt, .post-content {
	margin-top: 1em;
}

.left-minor-input {
	float: left;
	padding-right: .5em;
	width: 40%;
}

.right-major-input {
	float: left;
	width: 60%;
}

/* styles */

::selection {
	color: #FFF;
    background-color: #562800;
}

::-moz-selection {
	color: #FFF;
    background-color: #562800;
}

h1, h2, .secondary {
	color: #FF007F;
}

h1 {
	font-family: "Cormorant Garamond", sans-serif; 
	font-size: 3em; /* 16 x 3 = 48 */ 
	font-weight: 400;
	margin-bottom: .5em;
}

h2 {
	font-family: "Libre Franklin", sans-serif;
	font-size: 2em; /* 16 x 1.5 = 24 */
	font-weight: 400;
	line-height: 1.5em;
	margin-bottom: .25em;
}

h3, .mc-field-group .mce_inline_error:last-child {
	font-family: "Libre Franklin", sans-serif;
	font-size: 1em; /* 16 x 1 = 16 */
	font-weight: 400;
	line-height: 1.5em;
	margin-bottom: .5em;
}

h3 {
	color: #777;;
}

p, input, .response {
	font-family: "Libre Franklin", sans-serif;
	font-size: 1.25em; /* 16 x 1.25 = 20 */
	font-weight: 400;
	line-height: 1.5em;
	margin-bottom: .5em;
}

p, .primary {
	color: #562800;
}

p:last-child {
	margin-bottom: 0;
}

a, a:visited {
	color: #FF007F;
	text-decoration: none;
}

h1 a:hover, h2 a:hover {
	border-bottom: none;
}

a:hover {
	border-bottom: 1px solid #FF007F;
}

.mc-field-group .mce_inline_error:last-child {
    margin-top: -.75em;
    margin-bottom: 1.25em;
}

.error, .mce_inline_error, #mce-error-response {
	color: #CC0000;
}

.success, #mce-success-response {
	color: #336600;
}

/* responsive */

@media (max-width: 30em) {
	.left-minor-input {
		padding-right: 0;
		width: 100%;
	}

	.right-major-input {
		width: 100%;
	}
}